{% extends 'layout.html.twig' %}
{% block title %}{{ parent() }} - Home{% endblock %}
{% block body %}
	<header class="container-fluid p-5 text-center">
		<h1>Le Mauvais coin</h1>
		<p>Do bad business with disreputable people</p>
	</header>
	<main class="container">
		<section class="mt-5">
			<h2>Submit an offer</h2>
			<p class="d-flex flex-column align-items-center mt-4">
				Do you want to scam a pigeon with a poor quality product?<br/>
				Do not hesitate any longer and place an ad for very expensive with little visibility!
                <a href="{{ path('offer_add') }}" class="mt-5 btn btn-lg btn-primary">Submit an offer</a>
			</p>
		</section>
	</main>
{% endblock %}
